@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {

  font-family: 'Jost', sans-serif;
  color: #191724;
  background-color: #fce5cd;
  margin: 0;
  padding: 0;
  text-align: center;


}

.logo{
    width: 600px;
    background-color: #19172400;
    margin: 150px auto;
    grid-area: span 2;
}

.gird{
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: auto;
    flex-direction: column;
}

a {
  color: #ffffff;
  text-decoration: none;
  background-color: #8BC7B1;
}
p,
a {
  font-weight: 500;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}
a:hover{
  color: white;
  background-color: #C5A073;
  cursor: pointer;
}
